<section class="clearfix">
  <nav id="nav_bar">
    <div class="nav_link">
      <a href="/">Home</a>
    </div>
    <div class="nav_link">
      <a href="/logout">Logout</a>
    </div>
  </nav>
</section>

<section class="clearfix">
  <article class="one_half">
    <form action="/create_memorial">
      <button id="create_memorial_button">Create Memorial</button>
    </form>
  </article>
  <article class="one_half">
    <form action="/memorials/find">
      <button>Find Memorial</button>
    </form>
  </article>
</section>

<section class="clearfix">
  <article class="full_column">
    <h3>Your Memorials</h3>

    <% memorials.each do |memorial_hash| %>
      <img style="height: 100px; width: 50px;" src="<%= memorial_hash["photo"] %>">
      <h7>
        <a href="/memorial/<%= memorial_hash['id'] %>">
          <%= memorial_hash["name"] %>
        </a>
      </h7><br>
    <% end %>
  </article>
</section>



<h3>Other Memorials</h3>

<% all_memorials.each do |memorial_hash| %>
  <% if memorial_hash["creator_id"].to_i != session[:user_id] %>
    <h7>
      <a href="/memorial/<%= memorial_hash['id'] %>">
        <%= memorial_hash["name"] %>
      </a>
    </h7><br>
  <% end %>
<% end %>