<section class="clearfix">
  <article class="one_fourth">
    <div style="display: inline-block;">
      <p>This memorial has X members<br><a href="/memorial/<%= memorials["id"] %>/members">View all members</a></p>
    </div>
  </article>
  <article class="one_half">

    <div class="center">
      <img src="<%= memorials["photo"] %>" id="large_photo">
    </div>
      <p id="memorial_page_name">Remembering <%= memorials["name"] %></p>
    <div class="center">
      <p class="born_died"><%= memorials["born"] %>&nbsp to &nbsp</p>
      <p class="born_died"><%= memorials["died"] %></p>
    </div>
  </article>
  <article class="one_fourth"></article>
</section>

<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_half">
    <form action="/new_memory" method="post" id="new_memory_form">
      <textarea type="text" name="memory" placeholder="Add a short memory..." id="memory_box" maxlength="600" required></textarea>
      <input type="hidden" value="<%= memorials["id"] %>" name="memorial_id">
      <div style="text-align: right"><button id="add_memory_button">Add</button></div>
    </form>
  </article>
  <article class="one_fourth">
  </article>
</section>

<% if memories.length > 0 %>
  <% memories.each do |memory| %>
<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="memory_card">
    <div class="card_content">
      <div class="memory_name"><%= memory["firstname"] %> <%= memory["lastname"] %></div>
      <div class="memory_content"><%= memory["memory"] %></div>
      <div class="memory_content">
        <div class="favorites-icon">
          <form action="/memorial/<%= memorials["id"] %>/memory/<%= memory["id"] %>/favorite" method="get">
            <input type="image" src="/images/arrow103.png" alt="Submit" class="favorite_button">
          </form>
        </div>
        <div class="favorites-number">
          <%= favorites[memory["id"]] %>
        </div>
      </div>
    </div>
  </article>
  <article class="one_fourth">
  </article>
</section>
  <% end %>
<% end %>

<%= memories %>






