<div>
  <div class="born_died">
    <p>This memorial has X members<br><a href="/memorial/<%= memorials["id"] %>/members">View all members</a></p>
  </div>

</div>

<section class="clearfix">
  <article class="full_column">
    <div class="center">
      <img src="<%= memorials["photo"] %>" id="large_photo">
    </div>
    <h1 class="center">Remembering <%= memorials["name"] %></h1>
    <div class="center">
      <div class="born_died"><h3><%= memorials["born"] %>    -    </h3></div>
      <div class="born_died"><h3><%= memorials["died"] %></h3></div>
    </div>

  </article>
</section>

<form action="/new_memory" method="post">
  <input type="hidden" value="new" name="add_button">
  <button class="submit_button">New Memory</button>
</form>



<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_half">
    <% if flash[:new_memory] %>
      <form action="/new_memory" method="post">
        <label for="memory">Add your memory below</label>
        <input type="text" id="memory" name="memory">
        <input type="hidden" value="<%= memorials["id"] %>" name="memorial_id">
        <button>Add</button>
      </form>
    <% end %>

    <% if memories.length > 0 %>
      <% memories.each do |memory| %>
        <p><%= memory["firstname"] %> wrote: <br> <%= memory["memory"] %></p>
      <% end %>
    <% end %>
  </article>
  <article class="one_">
  </article>
</section>





